//noinspection CssUnknownProperty
.no-user-select-base()
{
	-webkit-user-select:         none !important;
	-khtml-user-select:          none !important;
	-moz-user-select:            none !important;
	-o-user-select:              none !important;
	user-select:                 none !important;
	
	-webkit-user-focus:          ignore !important;
	-khtml-user-focus:           ignore !important;
	-moz-user-focus:             ignore !important;
	-o-user-focus:               ignore !important;
	user-focus:                  ignore !important;
	
	-webkit-user-drag:           none !important;
	-khtml-user-drag:            none !important;
	-moz-user-drag:              none !important;
	-o-user-drag:                none !important;
	user-drag:                   none !important;
	
	-webkit-tap-highlight-color: transparent !important;
}

.no-user-select()
{
	.no-user-select-base();
	img&, svg&, video&
	{
		pointer-events: none !important;
	}
}

.no-user-select-including-children()
{
	.no-user-select();
	
	*
	{
		.no-user-select-base();
	}
	
	img, svg, video
	{
		pointer-events: none !important;
	}
}

//noinspection CssUnknownProperty
.no-scrollbar()
{
	-ms-overflow-style: none !important;
	scrollbar-width:    none !important;
	
	&::-webkit-scrollbar
	{
		display: none !important;
	}
}
